* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Open Sans, sans-serif;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

#map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#map {
    margin: auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
}